* {
    text-align: center;
    box-sizing: border-box;
}

h1, h3 {
    color: red;
    text-align: center;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 54px;
}

li, .recipe {
    color: green;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    font-size: 24px;
    border: 2px solid red;  
    display: inline-block;
    list-style: none;
}

img {
    height: auto;
    width: 200px;
    margin: 0 500px 0;
}